* {
  font-family: "PT Sans", sans-serif;
  color: #fdfdff;
}

button {
  font-weight: bold;
  background-color: #393d3f;
  font-size: 25px;
}

button:hover {
  background-color: #62929e;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #393d3f;
  gap: 30px;
}
.header {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-title {
  padding-top: 30px;
  font-size: 60px;
  margin: 0;
  font-family: "Kanit", sans-serif;
}

.header-subtext {
  margin: 0;
}

.subtext-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 30px;
  width: 30px;
  transition: transform 0.7s ease-in-out;
}

.logo:hover {
  transform: rotate(360deg);
}
.container {
  margin: 0;
  padding: 0;
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
}

.calculator {
  border: #fdfdff solid 2px;
  background-color: #393d3f;
  flex-direction: column;
  display: flex;
  width: 520px;
  height: 480px;
  gap: 5px;
}

.result {
  color: #393d3f;
  display: flex;
  flex-direction: column-reverse;
  border: #fdfdff solid 1px;
  height: 120px;
  width: auto;
  margin: 0;
  padding: 0;
}
.calculatedResult {
  height: 30px;
  width: auto;
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 20px;
}

.currentInput {
  height: 40px;
  width: auto;
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 30px;
}

.numpads-function-container {
  display: flex;
  flex-direction: row;
  gap: 13px;
  justify-content: center;
  align-content: center;
  padding: 5px;
}

.numpads {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 250px;
  width: 345px;
}

.numpads button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: large;
}

.functionBar {
  display: grid;
  width: 130px;
  height: 374px;
  grid-template-columns: auto;
}
